<div class="banner"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path('18402116_624273537779945_3550372554633371945_o_gqbs0v.jpg', :effect=>'auto_saturation', :height=>1280, :crop=>'scale') %>')">
  <div class="banner-content">
    <h1>Mister cocktail</h1>
    <p>Find out all cocktails of the world</p>
    <a href="#" class="btn btn-primary btn-lg">GET IT</a>
  </div>
</div>
