<div id="footer">
  <div>
    <ul class="list-inline">
      <li><a href="#"></a><i class="fa fa-facebook"></i></li>
      <li><a href="#"></a><i class="fa fa-twitter"></i></li>
      <li><a href="#"></a><i class="fa fa-instagram"></i></li>
    </ul>
  </div>
  <div>
    <p>The best website for cocktails</p>
  </div>
</div>
